<html xmlns:th="http://www.thymeleaf.org">

<!-- HEAD Fragment (Style sheets) -->
<div th:fragment="head">
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{https://use.fontawesome.com/releases/v5.5.0/css/all.css}"/>

</div>


<!-- Navbar Fragment -->
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" th:fragment="navbar"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <a class="navbar-brand" th:href="@{/admin-portal}">Car Service</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">

        <ul class="navbar-nav mr-auto">
            <li class="nav-item" th:classappend="${#httpServletRequest.getRequestURI() == '/customers' ? 'active':''}">
                <a class="nav-link" th:href="@{/customers}">Customers</a>
            </li>
            <li class="nav-item" th:classappend="${#httpServletRequest.getRequestURI() == '/cars' ? 'active':''}">
                <a class="nav-link" th:href="@{/cars}">Cars</a>
            </li>
            <li class="nav-item" th:classappend="${#httpServletRequest.getRequestURI() == '/procedures' ? 'active':''}">
                <a class="nav-link" th:href="@{/procedures}">Procedures</a>
            </li>

            <li class="nav-item navbar-hidden"
                th:classappend="${#httpServletRequest.getRequestURI() == '/procedures' ? 'navbar-visible':''}">
                <a class="nav-link btn btn-outline-secondary" onclick="addProcedure()">Add Procedure</a>
            </li>

            <li class="nav-item dropdown navbar-hidden"
                th:classappend="${#httpServletRequest.getRequestURI() == '/customers' ? 'navbar-visible':''}">
                <a class="nav-link btn btn-outline-secondary" onclick="addUser()">Add customer</a>
            </li>
            <li class="nav-item dropdown navbar-hidden"
                th:classappend="${#httpServletRequest.getRequestURI() == '/customers' ? 'navbar-visible' : ''}">
                <a class="nav-link btn btn-outline-secondary" onclick="addAdmin()">Add admin</a>
            </li>

        </ul>

        <ul class="navbar-nav mr-auto">

            <li class="nav-item navbar-hidden"
                th:classappend="${#httpServletRequest.getRequestURI() == '/procedures' ? 'navbar-visible':''}">
                <button class="btn btn-outline-secondary nav-link" data-toggle="popover" data-placement="right"
                        title="HELP"
                        data-content="This page lets you view and manage all the procedures in your car shop.">
                    <i class="fas fa-question"></i>
                </button>
            </li>

            <li class="nav-item navbar-hidden"
                th:classappend="${#httpServletRequest.getRequestURI() == '/customers' ? 'navbar-visible':''}">
                <button class="btn btn-outline-secondary nav-link" data-toggle="popover" data-placement="right"
                        title="HELP"
                        data-content="This page lets you view and manage all the customers in your car shop.
                                        You can add or delete a vehicle from a user.">
                    <i class="fas fa-question"></i>
                </button>
            </li>

            <li class="nav-item navbar-hidden"
                th:classappend="${#httpServletRequest.getRequestURI() == '/cars' ? 'navbar-visible':''}">
                <button class="btn btn-outline-secondary nav-link" data-toggle="popover" data-placement="right"
                        title="HELP"
                        data-content="On this page you can view the cars of each customer
                        and add all the procedures that have been performed on it.">
                    <i class="fas fa-question"></i>
                </button>
            </li>

            <li class="nav-item navbar-hidden"
                th:classappend="${#httpServletRequest.getRequestURI() == '/carevents/add-carevent/*' ? 'navbar-visible':''}">
                <button class="btn btn-outline-secondary nav-link" data-toggle="popover" data-placement="right"
                        title="HELP"
                        data-content="On this page you can add one or more procedures to the selected car.">
                    <i class="fas fa-question"></i>
                </button>
            </li>


        </ul>


        <ul class="nav navbar-nav ml-auto">

            <li class="nav-item">
                <a class="nav-link" href="#"><span class="fas fa-user"></span> <span sec:authentication="name"/></a>
            </li>

            <li class="nav-item">
                <form th:action="@{/logout}" method="post">
                    <a class="nav-link"><span class="fas fa-sign-in-alt"></span>
                        <input type="submit" style="border: none; background: none; padding: 0; color: lightgray"
                               value="Logout">
                    </a>

                </form>
            </li>


        </ul>

    </div>
</nav>

<!-- Footer Fragment -->
<footer th:fragment="footer">
    <div class="container">
        <p>
            All rights reserved. &copy; 2019 Team 6
            <span style="display: inline-block;">
                </span>
        </p>
    </div>
</footer>


<!-- Java Scrpit Files Fragment -->
<div th:fragment="js">
    <script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
    <script th:src="@{https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js}"></script>

</div>

<!-- Information Modal Fragment -->
<div class="modal" id="info-modal" role="dialog" th:fragment="infoModal">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Car Service</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" align="center">
                <h2 id="info-modal-text"></h2>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


</html>