html, body, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    padding-top: 65px;
    padding-bottom: 60px;
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

carsTable.dataTable tbody td {
    word-break: break-word;
    vertical-align: top;
}

.modal-dialog {

    width: fit-content;
    padding-left: 20%;
    padding-right: 20%;
    max-width: 80%;
    max-height: 80%;
}

.navbar-hidden{
    display:none;
}

.navbar-visible{
    margin-left: 10px;
    display:inline;
    color: #1BBBF5;
}


/*home page*/
.error {
    color: red;
}

body {
    margin: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 17px;
    color: #1BBBF5;
    line-height: 1.6;
}

#h1-title {
    font-family: "Copperplate Gothic Bold";
    font-size: 35px;
    color: silver;
}

#login-body {
    background-image: url(/images/login-image.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: normal;
    text-align: center;
    padding: 0 20px;
}

#login-body {
    color: #1BBBF5;
    text-align: -webkit-center;
}

#login-form {
    justify-content: left;
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
}

.login-form-input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

#homepage-body {
    background-image: url(/images/homepage-bg.jpg);
    background-size:cover;
    background-position:center;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:left;
    align-items: normal;
    text-align:left;
    padding:0 20px;
    font-family: "Copperplate Gothic Bold";
    font-size: 20px;
    color: silver;
}

#forgot-password-body {
    background-image: url(/images/forgot-password-image.jpg);
    background-size:cover;
    background-position:center;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:left;
    align-items: center;
    text-align:center;
    padding:0 35px;
    font-family: "Copperplate Gothic Bold";
    font-size: 20px;
    color: brown;
}

#password-text-box {
    margin-top: 250px;
}

#password-text-box-admin{
    margin-top: 250px;
}

#reset-password-text-box {
    margin-top: 250px;
}

.helpButton {
    position: absolute; /* or position: absolute; */
    top: 20px;
    right: 20px;
}

footer {
    position: fixed;
    height: 50px;
    bottom: 0;
    width: 100%;
    background-color: #ccc
}

footer p {
    padding: 15px;
}

#admin-portal{
    background-image: url(/images/admin-portal-image-1.jpg);
    background-size:cover;
    background-position:center;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:left;
    align-items: inherit;
    text-align:left;
    padding:0 35px;
}

#admin-portal-forms{
    margin-top: 50px;
}

#access-denied-body{
    background-image: url(/images/Access-Denied-image.png);
    background-size:cover;
    background-position:center;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:left;
    align-items: center;
    text-align:center;
    padding:0 35px;
    font-family: "Copperplate Gothic Bold";
    font-size: 20px;
    color: brown;


}

#pdf{
    margin-top: 10px;
}