<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <div th:replace="fragments/components :: head"></div>
</head>
<body id="index">
<div th:replace="fragments/components :: navbar"></div>

<div class="jumbotron" id="index-jumbotron">
    <h1 class="display-4">Welcome back, <span sec:authentication="name"/>!</h1>
    <p class="lead">This is the admin panel for your auto maintenance and repair shop!</p>
    <hr class="my-4">

    <p class="lead">
        <a class="btn btn-primary btn-lg" th:href="@{/customer-portal}" role="button">Customer Portal</a>
        <a class="btn btn-warning btn-lg" th:href="@{/password}" role="button">Change Password</a>
    </p>
</div>
<footer th:replace="fragments/components :: footer"></footer>
<div th:replace="fragments/components :: js"></div>
</body>
</html>